# Docker files
!/conf
init-letsencrypt.sh
docker-compose.yaml
.env
volumes/

# All temporary files
*.tmp
*.temp
tmp/
local/

# Database Files
.db/
db.sqlite3

# Log Files
logs/
log
*.log

# Python Compiled
*.pyc
*.pyo
*.db
*.pot
*.doctree
*.swp
.doctrees
*.egg-info*
dist/
__pycache__/

# Django Files
local_settings.py

# Pyenv
.python-version

